@import "nullstyles.scss";
@import "fonts.scss";

/* <ПЕРЕМЕННЫЕ>================================================================================== */
html {
    --body_background: #d5d5d5;
    --main_color: #b54a03;
    --color_2: #0056d7;
    --action_color: #eda600;
    --action_color_opacity: #b7891d;
    --text_color: #4f4f4f;
    --text_color_modals: #fff;
    --dark: #e2e2e2;
    --dark_2: #b6b6b6;
    --cancel_color: #9e0000;
}

html.dark-theme {
    --body_background: #2f2f2f;
    --main_color: #3b0060;
    --color_2: #008787;
    --action_color: #c59900;
    --action_color_opacity: #8e6f00;
    --text_color: #b6b6b6;
    --text_color_modals: #b6b6b6;
    --dark: #9f9f9f;
    --dark_2: #828282;
    --cancel_color: #930303;
}

:root {
    --modal_border_radius_1: 30px;
    --modal_border_radius_2: 5px;
}

/* <СТИЛИ>======================================================================================= */
html {
    --theme_trans_dur: .3s;

    scrollbar-color: var(--action_color) var(--body_background);
    transition-property: scrollbar-color;
    transition-duration: var(--theme_trans_dur);
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: var(--body_background);
    transition-property: background-color;
    transition-duration: var(--theme_trans_dur);
}

::-webkit-scrollbar-thumb {
    background-color: var(--action_color);
    border-radius: 10px;

    &:hover {
        background-color: var(--action_color_opacity);
    }
}

label {
    cursor: pointer;
}

.wrapper {
    font-family: "Montserrat";
    min-height: 100vh;
    padding: 0 0 20px 0;
    background-color: var(--body_background);
    color: var(--text_color);

    transition-property: background-color, color;
    transition-duration: var(--theme_trans_dur);
}

.container {
    margin: 0 auto;
    max-width: 1270px;
    padding: 0 20px;

    @media (max-width: 499px) {
        padding: 0 10px;
    }
}

.section-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;

    span {
        display: inline-block;
    }

    @media (max-width: 499px) {
        font-size: 30px;
    }
}

.content section {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* <ANIMATIONS, TRANSITIONS>===================================================================== */

// shrink
.shrink,
.unshrink {
    --trans_dur: 0.2s;

    transition-property: transform;
    transition-duration: var(--trans_dur);
}

.shrink {
    transform: scale(0);
}

// fade-in
.fade-in-enter-active,
.fade-in-leave-active {
    transition: all 0.2s;
}

.fade-in-enter-from,
.fade-in-leave-to {
    opacity: 0;
}

.fade-in-enter-to,
.fade-in-leave-from {
    opacity: 1;
}

// scale-up
.scale-up-enter-active,
.scale-up-leave-active {
    transition: all 0.3s;
}

.scale-up-enter-from,
.scale-up-leave-to {
    transform: scale(0);
}

.scale-up-enter-to,
.scale-up-leave-from {
    transform: scale(1);
}

// shrink-out
.shrink-out-enter-active,
.shrink-out-leave-active {
    transition: all .3s ease;
}

.shrink-out-enter-from,
.shrink-out-leave-to {
    transform: scale(0);
}

.shrink-out-leave-from,
.shrink-out-enter-to {
    transform: scale(1);
}

// for portfolio items
.portfolio-item-enter-active,
.portfolio-item-leave-active {
    transition: all .3s;
    overflow: hidden;
}

.portfolio-item-enter-from,
.portfolio-item-leave-to {
    transform: scale(0);
    max-height: 0;
    max-width: 0;
    padding: 0;
    margin: 0;
}

.portfolio-item-enter-to,
.portfolio-item-leave-from {
    transform: scale(1);
    max-height: 500px;
    max-width: 500px;
}

// for skill items 
.skill-item-enter-active,
.skill-item-leave-active,
.skill-item-move {
    transition: all 1s;
    overflow: hidden;
}

.skill-item-enter-from,
.skill-item-leave-to {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.skill-item-enter-to,
.skill-item-leave-from {
    opacity: 1;
    max-height: 500px;
}

/* <ANIMATIONS, TRANSITIONS>===================================================================== */

/* <UI>========================================================================================== */

// modal
.modal {
    color: var(--text_color_modals);
    border-radius: var(--modal_border_radius_1) var(--modal_border_radius_2) var(--modal_border_radius_1) var(--modal_border_radius_2);
    background-color: var(--main_color);
    transition-property: background-color;
    transition-duration: 0.3s;
}

// button
.button {
    display: inline-block;
    border-radius: 90px 5px 90px 5px;
    padding: 10px 30px;
    min-width: 150px;
    color: var(--text_color_modals);
    font-size: 21px;
    background-color: var(--main_color);
    transition-property: color, background-color;
    transition-duration: 0.2s;

    &:hover {
        background-color: var(--color_2);
    }

    &--color_2 {
        background-color: var(--color_2);

        &:hover {
            background-color: var(--action_color);
        }
    }
}

// button-more
.list-more {
    margin-top: 15px;
}

// link
.link {
    color: var(--color_2);
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
    transition-property: color;
    transition-duration: 0.2s;

    &:hover {
        color: var(--action_color);
    }
}

/* <UI>========================================================================================== */

/* <LOADING>===================================================================================== */
.loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--absolute {
        position: absolute;
        z-index: 888;
        background: rgba(0, 0, 0, 0.25);
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 888;
        background: rgba(0, 0, 0, 0.25);
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        border: 5px solid var(--color_2);
        border-right-color: transparent;
        border-bottom-color: transparent;
        width: 100px;
        height: 100px;
        animation: loading_spinner 2s linear infinite;
    }

    &::after {
        width: 60px;
        height: 60px;
        border: 5px solid var(--action_color);
        border-top-color: transparent;
        border-left-color: transparent;
        animation: loading_spinner_counterclock 2s linear infinite;
    }
}

@keyframes loading_spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading_spinner_counterclock {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* <LOADING>===================================================================================== */

/* <CHECKBOX-LABEL>===============================================================================*/
.checkbox-label {
    --trans_dur: 0.2s;

    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    input {
        display: none;
    }

    &__box {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 1px solid var(--text_color_modals);
        transition-property: border-color;
        transition-duration: var(--trans_dur);

        &::before {
            content: "";
            background: url("../images/icons/checkmark.svg") center/cover no-repeat;
            width: 11px;
            height: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition-property: opacity;
            transition-duration: var(--trans_dur);
        }
    }

    input:checked+&__box {
        border-color: var(--action_color);

        &::before {
            opacity: 1;
        }
    }

    input:checked+*+&__text {
        color: var(--action_color);
    }

    &__text {
        font-size: 19px;
        transition-property: color;
        transition-duration: var(--trans_dur);
    }
}

/* <CHECKBOX-LABEL>===============================================================================*/

/* <RADIO-LABEL>================================================================================= */
.radio-label {
    --trans_dur: 0.2s;

    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    input {
        display: none;
    }

    &__circle {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--text_color_modals);
        transition-property: border-color;
        transition-duration: var(--trans_dur);


        &::before {
            content: "";
            background-color: var(--action_color);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition-property: opacity;
            transition-duration: var(--trans_dur);
        }
    }

    input:checked+&__circle {
        border-color: var(--action_color);

        &::before {
            opacity: 1;
        }
    }

    input:checked+*+&__text {
        color: var(--action_color);
    }

    &__text {
        font-size: 19px;
        transition-property: color;
        transition-duration: var(--trans_dur);
    }
}

/* <RADIO-LABEL>================================================================================= */

/* <LIST>======================================================================================== */
.list {
    &__item {
        position: relative;
        padding: 0 0 0 40px;
        margin: 10px 0;
        line-height: 1.5;
        font-size: 30px;

        &::before {
            position: absolute;
            top: 5px;
            left: 0;
            color: inherit;
            font-size: 30px;
            display: inline-block;
            margin-right: 5px;
        }
    }

    &__item-title {
        text-decoration: none;
    }

    &__item-content {
        text-decoration: underline;
        text-underline-offset: 7px;
        text-decoration-thickness: 1px;

        a {
            word-wrap: break-word;
        }
    }

    @media (max-width: 992px) {
        &__item {
            font-size: 24px;

            &::before {
                font-size: 24px;
            }
        }
    }
}

/* <LIST>======================================================================================== */

/* <INPUTS>====================================================================================== */
.text-input {
    &__wrapper {
        position: relative;
    }

    &__icon {
        position: absolute;
        left: 20px;
        top: 8px;
        font-size: 24px;
        color: #4f4f4f;
    }

    &__icon+&__input {
        padding: 0 40px 0 60px;
    }

    &__input {
        border-radius: 30px 5px 30px 5px;
        color: #4f4f4f;
        background-color: var(--dark);
        font-size: 30px;
        height: 40px;
        line-height: 40px;
        padding: 0 40px;
        width: 100%;

        &::placeholder {
            color: var(--dark_2);
            font-style: italic;
        }
    }
}

.input-item {
    max-width: 700px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &--full {
        width: 100%;
    }

    &__label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 24px;
    }
}

/* <INPUTS>====================================================================================== */

/* <EMPTY>======================================================================================= */
.empty {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        display: inline-block;
        width: 72px;
        height: 72px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        line-height: 1.25;
    }
}

/* <EMPTY>======================================================================================= */

/* <VIDEO>======================================================================================= */
.video-player-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player {
    --video_controls_color: #d9d9d9;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__controls {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: 100%;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--video_controls_color);
        transition-property: background-color, opacity, visibility;
        transition-delay: 0s;
    }

    &.is-playing &__controls {
        transition-duration: 0.2s;
        transition-delay: 0s, 2s, 2.2s;
        opacity: 0;
        visibility: hidden;
    }

    &__video {
        cursor: pointer;
        position: relative;
        z-index: 5;
        max-width: 100%;
        max-height: 100%;
    }

    &__play-button,
    &__pause-button {
        color: var(--video_controls_color);

        &::before {
            font-size: 50px;
        }
    }

    &__track-upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__expand {
        color: var(--video_controls_color);
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__track {
        cursor: pointer;
        touch-action: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 10px;
    }

    &__timer {
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;
    }

    &__timer-delimeter {
        display: inline-block;
        margin: 0 5px;
    }

    &__scale {
        --border_radius: 50px;
        --toddler_size: 22px;

        width: 100%;
        height: 10px;
        border-radius: var(--border_radius);
        background-color: rgba(0, 0, 0, 0.75);
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: var(--toddler_size);
        width: 0;
        height: 100%;
        background-color: var(--color_2);
        border-radius: var(--border_radius);
    }

    &__toddler {
        border-radius: 50%;
        background-color: var(--video_controls_color);
        width: var(--toddler_size);
        height: var(--toddler_size);
    }
}

/* <VIDEO>======================================================================================= */

/* <MEDIA-MODAL-WINDOW>========================================================================== */
.media-modal-window {
    padding: 25px 50px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* <MEDIA-MODAL-WINDOW>========================================================================== */

/* <HEADER>====================================================================================== */

.header {
    --transition_dur: 0.3s;
    --width: 1000px;
    --header_text_color: var(--text_color);
    --border_radius: 15px;

    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px auto;
    min-height: 60px;
    z-index: 900;
    width: var(--width);
    transition-property: height;
    transition-duration: var(--transition_dur);

    &__container {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--width);
        margin: 0 auto;
        padding: 30px 0 0 0;
        border-radius: 0 0 var(--border_radius) var(--border_radius);
        transition-property: background-color, padding;
        transition-duration: var(--transition_dur);
    }

    &.__scrolled &__container {
        --header_text_color: var(--text_color_modals);

        background-color: var(--main_color);
        padding: 0 30px;
    }

    &__nav-button {
        display: none;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__nav-item {
        margin-right: 30px;
        padding: 18px 0;
        position: relative;
    }

    &__nav-sublist {
        position: absolute;
        min-width: 100%;
        text-align: center;
        top: 100%;
        left: 0;
        background-color: var(--main_color);
        border-radius: 0 0 var(--border_radius) var(--border_radius);
        opacity: 0;
        visibility: hidden;
        border: 2px solid var(--color_2);
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-delay: 0s, 0.2s;
    }

    &__nav-item.__shown &__nav-sublist {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    &__nav-subitem {
        padding: 10px 25px;

        .link {
            text-decoration: none;
            color: var(--text_color_modals);

            &:hover {
                color: var(--action_color);
            }
        }
    }

    &__nav-link {
        line-height: 1;
        display: inline-block;
        font-size: 24px;
        color: var(--header_text_color);
        transition: color var(--transition_dur);

        &.__active {
            color: var(--action_color);
            text-decoration: underline;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px;
        }

        &--me {
            color: var(--color_2);
        }
    }

    &__theme-switcher {
        display: flex;
        align-items: center;
    }

    &__theme-switcher-item {
        &::before {
            font-size: 31px;
            color: var(--header_text_color);
            transition: color var(--transition_dur);
        }

        &.__active::before {
            color: var(--action_color);
        }
    }

    &__theme-switcher-delimeter {
        font-size: 31px;
        color: var(--header_text_color);
        transition: color var(--transition_dur);
        padding: 0 10px;
    }

    @media (max-width: 1029px) {
        --width: 100%;

        &__container {
            padding: 20px 20px 0 20px;
        }

        &.__scrolled &__container {
            padding: 0 20px;
        }
    }

    @media (max-width: 767px) {
        margin: 0 auto 30px auto;

        &__container {
            padding: 20px 10px 0 10px;
        }

        &__nav {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 60px;
        }

        &__nav-button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 40px;
            height: 20px;

            &-item {
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: var(--header_text_color);
                transition-property: top, transform, opacity;
                transition-duration: 0.3s;
            }

            &-item:nth-child(1) {
                top: 0;
            }

            &-item:nth-child(2) {
                top: 50%;
            }

            &-item:nth-child(3) {
                top: 100%;
            }

            &.__active &-item:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }

            &.__active &-item:nth-child(2) {
                opacity: 0;
            }

            &.__active &-item:nth-child(3) {
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        &__nav-list {
            position: absolute;
            top: 100%;
            left: 0;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--main_color);
            border-radius: 0 0 var(--border_radius) var(--border_radius);
            padding: 10px 20px;
            opacity: 0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: 0.3s;
            transition-delay: 0s, 0.3s;
        }

        &__nav-button.__active+&__nav-list {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }

        &__nav-item {
            padding: 10px 0;
        }

        &__nav-link {
            color: var(--text_color_modals);
        }
    }
}

/* <HEADER>====================================================================================== */

/* <PORTFOLIO>=================================================================================== */
.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &__list-container {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        align-self: stretch;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    &__filter {
        flex: 0 0 345px;
    }

    @media (max-width: 1259px) {
        flex-wrap: wrap;
        justify-content: center;

        &__filter.filter {
            position: relative;
            top: 0;
            order: 1;
            flex: 0 0 700px;
            margin-bottom: 20px;
        }

        &__list-container {
            order: 2;
            margin-right: 0;
        }
    }

    @media (max-width: 919px) {
        &__list {
            justify-content: center;
        }
    }

    @media (max-width: 767px) {
        &__filter.filter {
            flex: 0 0 100%;
        }
    }
}

.portfolio-item {
    position: relative;
    z-index: 10;
    flex: 0 0 414px;
    margin-bottom: 40px;
    margin-right: 20px;

    &:nth-child(2n) {
        z-index: 5;
        margin-right: 0;
    }

    &.__shown-skills &__image {
        z-index: 2;
    }

    &.__shown-skills &__image img {
        width: 80%;
        height: 70%;
        margin-right: 45px;
    }

    &.__shown-skills &__folder-back,
    &.__shown-skills &__folder-front {
        opacity: 1;
    }

    &.__shown-skills &__skills {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    &__button {
        margin-right: 10px;
        font-size: 24px;
        color: var(--text_color);

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            &::after {
                content: "";
                margin-left: 0;
            }
        }

        &::before {
            color: inherit;
            transition-property: color;
            transition-duration: 0.3s;
        }

        &.__active::before {
            color: var(--action_color);
        }

        &::after {
            content: "|";
            display: inline-block;
            color: inherit;
            font-size: 24px;
            margin-left: 10px;
            transform: translate(0, -4px);
        }
    }

    &__button.icon-pencil {
        font-size: 21px;
        transform: translateY(-2px);
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 414px;
        height: 269px;
    }

    &__folder-back {
        z-index: 1;
    }

    &__folder-back,
    &__folder-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition-property: opacity;
        transition-duration: 0.2s;
    }

    &__image {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__skills {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 4;
        margin-bottom: 20px;
        height: 100%;
        width: 65%;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-delay: 0s, 0.2s;
    }

    &__skills-container {
        margin-top: 40px;
        width: 100%;
        height: 60%;
    }

    &__skills-list {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #4f4f4f;

        li {
            list-style-type: none;
            margin-bottom: 5px;
        }
    }

    &__skills-pagination {
        position: absolute;
        bottom: 15px;
        font-size: 16px;
        color: #4f4f4f;
        z-index: 10;

        span {
            display: inline-block;
            transform: translateY(-1px);
            margin: 0 10px;
            font-size: 21px;
        }
    }

    &__skills-prev,
    &__skills-next {
        display: inline-block;

        &::before {
            color: #4f4f4f;
        }

        &:disabled {
            cursor: default;

            &::before {
                color: var(--dark_2);
            }
        }
    }

    &__skills-prev {
        transform: rotate(180deg) translateY(3px);
    }

    &__folder-front {
        z-index: 3;
    }

    &__text {
        font-size: 16px;
        padding-top: 10px;
        text-align: center;
    }

    &__title {
        display: block;
        font-style: italic;
    }

    &__stack {
        display: block;
        margin-top: 5px;
    }

    @media (min-width: 920px) and (max-width: 1259px) {
        margin: 0 0 40px 0;
        flex: 0 0 48%;

        &__container {
            margin-right: 0;
            width: 100%;
            height: calc(44vw / 1.54);
        }
    }

    @media (max-width: 919px) {
        flex: 0 0 515px;

        &__container {
            width: 100%;
        }
    }

    @media (max-width: 514px) {
        flex: 0 0 100%;
        margin: 0 0 40px 0;

        &__container {
            width: calc(100vw - 20px);
            height: calc((100vw - 20px) / 1.54);
        }

        &__skills-list {
            font-size: 16px;
            padding: 0 25px;
        }

        &__skills-pagination {
            bottom: 15px;
        }
    }
}

/* <PORTFOLIO>=================================================================================== */

/* <FILTER>====================================================================================== */
.filter {
    position: sticky;
    top: 100px;

    &__tab-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;

        &::before {
            position: absolute;
            left: 20px;
            font-size: 21px;
            color: var(--text_color_modals);
        }
    }

    &__body {
        overflow: hidden;
    }

    &__tab-button+&__body>&__section:first-child {
        border-top: 1px solid #fff;
    }

    &__section {
        border-bottom: 1px solid #fff;
    }

    &__title,
    &__section-title {
        color: var(--text_color_modals);
        font-size: 21px;
        font-weight: 500;
        text-align: center;
    }

    &__section {
        padding: 20px;
        width: 100%;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    &__section-title {
        margin-bottom: 15px;
    }

    &__section-label {
        order: 1;
    }

    &__section-item {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &:last-child {
            margin-bottom: 0;
        }

        .checkbox-label {
            margin-bottom: 0;
        }
    }

    &__section-item-buttons {
        order: 2;
        display: flex;
        align-items: center;

        button {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            &::before {
                color: var(--text_color_modals);
                font-size: 21px;
            }
        }
    }

    &__section-item-attachments {
        order: 3;
        flex: 0 0 100%;
    }

    &__section-item-attachment {
        display: block;
        margin: 5px 0;
        font-size: 19px;
        padding-left: 30px;
        line-height: 1.35;
    }

    &__section-item-comment {
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    &__section-item-url {
        color: var(--action_color);
        word-break: break-all;
    }
}

/* <FILTER>====================================================================================== */

/* <ABOUT ME>==================================================================================== */
.about {
    &__text {
        font-size: 30px;
    }

    &__text-par {
        margin: 10px 0;
        font-size: 24px;

        &:last-child {
            margin: 10px 0 0 0;
        }

        span {
            display: inline-block;
        }
    }

    &__images {
        float: right;
        width: 300px;
        margin-left: 50px;
    }

    &__image-container {
        margin-bottom: 20px;
    }

    &__image {
        width: 100%;
        object-fit: contain;
    }

    @media (max-width: 992px) {
        &__text {
            font-size: 24px;
        }

        .list {
            font-size: 24px;
        }
    }

    @media (max-width: 767px) {
        &__images {
            width: 300px;
            float: none;
            margin-left: auto;
            margin: 0 auto 60px auto;
        }
    }

    @media (max-width: 349px) {
        &__images {
            width: 100%;
        }
    }
}

/* <ABOUT ME>==================================================================================== */

/* <SKILLS>====================================================================================== */
.skills {
    &__list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__search {
        margin-bottom: 60px;
    }

    @media (max-width: 949px) {
        &__list {
            justify-content: center;
        }
    }
}

.skill-item {
    position: relative;
    z-index: 10;
    flex: 0 0 565px;
    margin: 0 10px 40px 10px;

    &:nth-child(2n) {
        z-index: 5;
    }

    &.__shown-links &__media-container {
        z-index: 2;
    }

    &.__shown-links &__media-container {
        width: 80%;
        height: 70%;
        margin-right: 45px;
    }

    &.__shown-links .video-player__video {
        object-fit: cover;
    }

    &.__shown-links &__folder-back,
    &.__shown-links &__folder-front {
        opacity: 1;
    }

    &.__shown-links &__links {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    &__button {
        margin-right: 10px;
        font-size: 24px;
        color: var(--text_color);

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            &::after {
                content: "";
                margin-left: 0;
            }
        }

        &::before {
            color: inherit;
            transition-property: color;
            transition-duration: 0.3s;
        }

        &.__active::before {
            color: var(--action_color);
        }

        &::after {
            content: "|";
            display: inline-block;
            color: inherit;
            font-size: 24px;
            margin-left: 10px;
            transform: translate(0, -4px);
        }
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 565px;
        height: 360px;
    }

    &__folder-back {
        z-index: 1;
    }

    &__folder-back,
    &__folder-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition-property: opacity;
        transition-duration: 0.2s;
    }

    &__media-container {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 275px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__media {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__links {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
        margin-bottom: 20px;
        height: 100%;
        width: 60%;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-delay: 0s, 0.2s;
    }

    &__links-container {
        margin-top: 40px;
        width: 100%;
        height: 60%;
    }

    &__links-list {
        position: relative;
        text-align: leaft;
        height: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #4f4f4f;

        &.__shown {
            transition-delay: 0s;
            opacity: 1;
            visibility: visible;
        }

        li {
            list-style-type: none;
            margin-bottom: 5px;
        }

        .link {
            color: inherit;
            line-height: 1.35;
            text-underline-offset: 4px;

            &:hover {
                color: var(--color_2);
            }
        }
    }

    &__links-pagination {
        position: absolute;
        bottom: 15px;
        font-size: 16px;
        color: #4f4f4f;
        z-index: 10;

        span {
            display: inline-block;
            transform: translateY(-1px);
            margin: 0 10px;
            font-size: 21px;
        }
    }

    &__links-prev,
    &__links-next {
        display: inline-block;

        &::before {
            color: #4f4f4f;
        }

        &:disabled {
            cursor: not-allowed;

            &::before {
                color: var(--dark_2);
            }
        }
    }

    &__links-prev {
        transform: rotate(180deg) translateY(3px);
    }

    &__folder-front {
        z-index: 3;
    }

    &__text {
        font-size: 16px;
        padding-top: 10px;
        text-align: center;
    }

    &__title {
        font-style: italic;
        color: inherit;
        font-size: 21px;
    }

    &__stack {
        margin-top: 5px;
    }

    @media (min-width: 950px) and (max-width: 1259px) {
        margin: 0 0 40px 0;
        flex: 0 0 48%;

        &__container {
            margin-right: 0;
            width: 100%;
            height: calc(44vw / 1.54);
        }
    }

    @media (max-width: 629px) {
        flex: 0 0 100%;
        margin: 0 0 40px 0;

        &__container {
            width: calc(100vw - 20px);
            height: calc((100vw - 20px) / 1.54);
        }

        &__links-list {
            font-size: 14px;
            padding: 0 25px;
            max-width: 250px;
        }

        &__links-pagination {
            bottom: 15px;
        }
    }

    @media (max-width: 369px) {
        &__links-list {
            margin-top: 80px;
        }
    }
}

/* <SKILLS>====================================================================================== */

/* <HELLO-FORM>================================================================================== */
.hello-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

/* <HELLO-FORM>================================================================================== */

/* <SELECT>====================================================================================== */
.select {
    --trans_dur: 0.2s;

    cursor: pointer;
    position: relative;
    color: var(--text_color_modals);
    z-index: 50;
    font-size: 24px;
    border: 1px solid var(--text_color_modals);
    border-radius: var(--modal_border_radius_1) var(--modal_border_radius_2) var(--modal_border_radius_1) var(--modal_border_radius_2);
    background-color: var(--main_color);
    transition-property: box-shadow, border-radius;
    transition-duration: var(--trans_dur);

    &::before {
        position: absolute;
        display: inline-block;
        top: 10px;
        right: 10px;
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: var(--trans_dur);
    }

    &.__shown {
        border-radius: var(--modal_border_radius_1) var(--modal_border_radius_2) 0 0;
        border-bottom-color: transparent;

        &::before {
            transform: rotate(270deg);
        }
    }

    &__value,
    &__item {
        padding: 10px 20px;
    }

    &__value {
        width: 100%;
    }

    &__list {
        position: absolute;
        overflow: hidden;
        border: 1px solid var(--text_color_modals);
        border-top-width: 0;
        border-radius: 0 0 var(--modal_border_radius_1) var(--modal_border_radius_2);
        background-color: var(--main_color);
        width: calc(100% + 2px);
        transform: translateX(-1px);
        transition-property: max-height;
        transition-duration: 0.2s;
    }

    &__item {
        border-bottom: 1px solid var(--text_color_modals);
        transition-property: background-color, color;
        transition-duration: 0.2s;

        &:first-child {
            border-top: 1px solid var(--text_color_modals);
        }

        &:last-child {
            border-bottom-width: 0;
        }

        &:hover {
            color: #cacaca;
            background-color: var(--action_color);
        }
    }
}

/* <SELECT>====================================================================================== */

/* <MODAL-WINDOW>================================================================================ */
.modal-windows-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    position: relative;
    max-width: 700px;
    border-radius: var(--modal_border_radius_1) var(--modal_border_radius_2) var(--modal_border_radius_1) var(--modal_border_radius_2);
    background-color: var(--main_color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 40px;
    margin: 0 15px;
    color: var(--text_color_modals);

    &--with-input {
        max-width: 100%;
        width: 1000px;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;

        &::before {
            color: var(--text_color_modals);
            font-size: 20px;
        }
    }

    &__title {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
        width: 100%;
    }

    &__body {
        margin-bottom: 20px;
        font-size: 21px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .button {
            margin: 10px;
            background-color: var(--color_2);

            &:hover {
                background-color: var(--action_color);
            }

            &--color-2 {
                background-color: var(--cancel_color);
            }
        }
    }
}

/* <MODAL-WINDOW>================================================================================ */